.stack-container {
  position: relative;
  perspective: 600px;
  transform-style: preserve-3d;
}

.card-rotate {
  position: absolute;
  cursor: grab;
  will-change: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card-image {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}
