@font-face {
  src: url("../public/fonts/Jersey10.ttf");
  font-family: "Jersey";
}
@font-face {
  src: url("../public/fonts/VT323.ttf");
  font-family: "VT323";
}

* {
  font-family: "VT323";
}

.headline {
  font-family: "Jersey";
}
